.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.counter
{
    font-size: 60px;
    color: blue;
}
button{
    padding: 10px;
    margin: 10px;
}